<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.learnathome.indovinalaparola">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IndovinaLaParola">
        <receiver
            android:name=".utils.login.LoginReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <service
            android:name=".utils.login.SignUpService"
            android:exported="false" />

        <activity android:name=".MainActivity" />

        <receiver
            android:name=".utils.game.TimerReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="it.learathome.TIMER_SERVICE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".utils.game.TimerService"
            android:exported="false" />

        <activity android:name=".screen.AboutActivity" />
        <activity android:name=".screen.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>